<% layout('layouts/boilerplate') -%>
<body>
  <h3 id="cmp" style="padding-left: 1.5rem; padding-top: 30px;">All Complaints:</h3>
  
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
    
    <% for(let listing of allListings) { %>
    
      <div class="col">
        <a href="/listings/<%= listing._id %>" class="listing-link">
          <div class="card h-100">
            <img 
              src="<%=listing.image%>" 
              class="card-img-top" 
              alt="Listing Image" 
              style="height: 20rem;"
            />
            <div class="card-img-overlay d-flex justify-content-end align-items-start p-2">
            <h5 class="card-title text-white bg-dark p-2 rounded-pill">
            <i class="fa-solid fa-flag"></i> <%= listing.reports.length %>
            </h5>
          </div>
    
            <div class="card-body">
              <p class="card-text">
                <b><%=listing.title%></b><br>
                <% if (listing.date) { %>
                  <%= listing.date.toLocaleDateString("en-IN") %>
                <% } %>
              </p> 
            </div>
          </div>
        </a>
      </div>
      
    <% } %>
    
  </div>
</body>